[submodule "celina-sdk"]
	path = celina-sdk
	url = https://github.com/andrewkimjoseph/celina-sdk.git
[submodule "celina-mcp"]
	path = celina-mcp
	url = https://github.com/andrewkimjoseph/celina-mcp.git
[submodule "celina-mcp-host"]
	path = celina-mcp-host
	url = https://github.com/andrewkimjoseph/celina-mcp-host.git
[submodule "celina-website"]
	path = celina-website
	url = https://github.com/andrewkimjoseph/celina-website.git
